$clr-bg-rewardgood: #26890d;
$clr-bg-rewardoneleaf: #26890dcc;
$clr-bg-rewardnoleaf: #26890d99;
$clr-bg-rewardbad: #9d9faab3;
$clr-bg-default: #fff;

$clr-bg-btb: #323c4e;
$clr-border-gray: #ccc;

$clr-text-default: #fff;

$font-size: 0.8rem;
